name: Run pre-commit checks

on:
  push:
  pull_request:

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"
      - name: Set up uv
        uses: astral-sh/setup-uv@v5
      - name: Install dependencies
        run: |
          uv sync --all-groups
      - uses: pre-commit/action@v3.0.1
